.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px  90px  10px  150px;
    
}

.menu__header{
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.menu__image{
    width: 25px;
    height: 25px;
}
.menu__nav{
    text-align: center;
}
.menu__list{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}

.menu__list__item__contacto{
    font-weight: bold;
}